venv
data
plgrid_results
cmd_results
beh_results
results/
models/TBB_models/old
.jupyter_logs.txt

.DS_Store
.ipynb_checkpoints
.pre-commit-config.yaml
.vscode/settings.json
__pycache__
*.pyc
materials
.idea
.virtual_documents
*.png
get-pip.py
